/**
 * Admin RTL styles
 *
 * @package     WebMan WordPress Theme Framework
 * @subpackage  Admin
 *
 * @since    1.0
 * @version  1.0
 */





// Update notifier

	.update-notifier {

		#instructions {
			float: right;
			margin-right: 0;
			margin-left: 40px;
		}

		.theme-img {
			float: right;
			margin: 10px 0 20px 20px;
		}

		#changelog {
			float: right;
		}

		li {

			h4 {
				margin-left: 0;
				margin-right: -20px;
			}

		}

	}
