/* FILE: update-notifier-rtl.scss */
/* FILE: styles/_update-notifier.scss */
.update-notifier { line-height: 1.5em; }

.update-notifier hr { margin: 10px 0 20px; border: 0; border-top: 1px solid #dadcde; }

.update-notifier .instructions { max-width: 640px; margin-left: 40px; float: right; }

.update-notifier .theme-img { float: right; width: 33%; margin: 10px 20px 20px; margin-right: 0; }

.update-notifier ul { clear: both; border-top: 1px solid #dadcde; }

.update-notifier ul > li { padding: 20px; border-bottom: 1px solid #dadcde; }

.update-notifier li h4 { margin-top: 0; margin-right: -20px; text-transform: uppercase; font-size: 1.17em; }

.update-notifier .note { padding: 10px 20px; font-size: .9em; background: #f3f3f3; border: 1px solid #ccc; }

.update-notifier .note ul > li { padding: 5px 0; margin: 0; }

.update-notifier .important-note { clear: both; padding: 20px; margin: 20px 0; line-height: 1.5em; font-size: 1.17em; background: #fa7c7e; color: #fafcfe; border: 2px solid #ea6c6e; border-radius: 2px; }

.update-notifier .changelog { float: right; max-width: 400px; margin-top: 30px; padding: 20px; }
