/**
 * WordPress RTL Admin Styles
 *
 * @package    WebMan WordPress Theme Framework
 * @copyright  2014 WebMan - Oliver Juhas
 *
 * @since      3.0
 * @version    3.0
 */



/**
 * Update notifier
 */

	.update-notifier #instructions {
		float: right;
		margin-right: 0;
		margin-left: 40px;
	}
	.update-notifier .theme-img {
		float: right;
		margin: 10px 0 20px 20px;
	}
	.update-notifier #changelog {float: right}
	.update-notifier li h4 {
		margin-left: 0;
		margin-right: -20px;
	}



/* END OF FILE */