/**
 * Theme Customizer Additioanl Styles
 *
 * @package     WebMan WordPress Theme Framework
 * @subpackage  Skinning System
 * @copyright   2014 WebMan - Oliver Juhas
 *
 * @since       3.0
 * @version     3.2
 */



	.no-overflow {overflow: hidden}

	.customize-control h3 {
		margin: 2em 0 .5em;
		text-transform: uppercase;
		font-size: 1em;
		color: #aaa;
		border-bottom: 2px solid #d3d3d3;
	}

	.customize-control hr {
		margin: 1em 0;
		background: transparent;
		border: 0;
		border-top: 1px dashed #d3d3d3;
	}

	.customize-control select,
	.customize-control textarea {width: 100%}
	.customize-control select[multiple] {height: 8em}
	.customize-control textarea {resize: vertical}
	.customize-control-hidden {display: none !important}

	#customize-control-page_on_front,
	#customize-control-page_for_posts {
		padding: 10px;
		margin-left: -10px;
		border-radius: 5px;
		background: #d7eef4;
	}
	#customize-control-page_for_posts {background: #d7f4e3}



	/**
	 * Preview thumbnail
	 */

		.accordion-section .customize-control-image .dropdown-content,
		.accordion-section .customize-control-image .preview-thumbnail {
			width: 100%;
			background: #eee;
		}
			.accordion-section .customize-control-image .preview-thumbnail img {width: auto}



	/**
	 * Radio matrix (3x3)
	 */

		.matrix {
			padding: 2px 0 3px 2px;
			margin-bottom: .5em;
			border: 2px solid #ddd;
			overflow: hidden;
		}
			.matrix span,
			.image-radio span {display: none}
			.matrix label {
				float: left;
				display: block;
				width: 33.33%;
				padding: .5em 0 .5em 4px;
				margin: 0 -1px -1px 0;
				text-align: center;
				border: 1px dotted #ddd;
				-webkit-box-sizing: border-box;
				   -moz-box-sizing: border-box;
				        box-sizing: border-box;
			}
				.matrix label.active {background: #b0dbee}
				.matrix label.active:hover {background: #a0cadd}
				.matrix label:hover {background: #f6f6f6}



	/**
	 * Image radios
	 */

		.image-radio label {
			float: left;
			display: inline-block;
			margin: 4px;
			text-align: center;
		}
			.image-radio img {
				display: block;
				width: 42px;
				opacity: .5;
			}
			.image-radio input {
				position: relative;
				top: -.75em;
				margin: 0;
			}
			.image-radio label.active img,
			.image-radio label:hover img {opacity: 1}



/**
 * jQuery UI Slider
 */

	.slide-number-wrapper {
		display: block;
		float: left;
		width: 70%;
		padding: 0 10px;
	}
	.customize-control .slide-number-wrapper + input[type="text"] {
		float: right;
		width: 20%;
		text-align: center;
	}

	.slide-number-wrapper .ui-slider {
		position: relative;
		display: block;
		width: 100%;
		height: 2px;
		margin: 10px 0;
		text-align: left;
		background: #eee;
		border: 1px solid #ccc;
		-webkit-border-radius: 10px;
		   -moz-border-radius: 10px;
		        border-radius: 10px;
	}
		.slide-number-wrapper .ui-slider .ui-slider-handle {
			position: absolute;
			z-index: 2;
			width: 18px;
			height: 10px;
			top: 0;
			margin: -5px 0 0 -10px;
			cursor: e-resize;
			background: #f3f3f3;
			background-image: -webkit-gradient(linear,left top,left bottom,from(#FEFEFE),to(#F4F4F4));
			background-image: -webkit-linear-gradient(top,#FEFEFE,#F4F4F4);
			background-image: -moz-linear-gradient(top,#FEFEFE,#F4F4F4);
			background-image: linear-gradient(to bottom,#FEFEFE,#F4F4F4);
			border: 1px solid #bbb;
			outline: 0;
			-webkit-border-radius: 10px;
			   -moz-border-radius: 10px;
			        border-radius: 10px;
			-webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0, .25);
			        box-shadow: 0 1px 3px 0 rgba(0,0,0, .25);
		}
		.slide-number-wrapper .ui-slider .ui-slider-handle:hover,
		.slide-number-wrapper .ui-slider .ui-slider-handle:active {
			background-color: #21759B;
			background-image: -webkit-gradient(linear,left top,left bottom,from(#2A95C5),to(#21759B));
			background-image: -webkit-linear-gradient(top,#2A95C5,#21759B);
			background-image: -moz-linear-gradient(top,#2A95C5,#21759B);
			background-image: -ms-linear-gradient(top,#2A95C5,#21759B);
			background-image: linear-gradient(to bottom,#2A95C5,#21759B);
			border-color: #21759B;
			border-bottom-color: #1E6A8D;
			-webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.5);
			        box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.5);
		}
		.slide-number-wrapper .ui-slider .ui-slider-range-min {left: 0}
		.slide-number-wrapper .ui-slider .ui-slider-range-max {right: 0}



/* End of file */